.tab-btns {
    width: 400px;
}

.tab-btn {
    width: 50%;
    background-color: gray;
    padding: 5px;
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.tab-btn:hover {
    background-color: darkgray;
}

.tab {
    width: 400px;
    height: 400px;
    padding: 20px;
    box-sizing: border-box;
}

#standard-tab {
    background-color: lightgreen;
}

#metric-tab {
    background-color: mediumpurple;
}

.tab > * {
    margin: 20px;
    display: block;
}

.tab input {
    width: 20%;
}




